* { margin: 0; padding: 0; }
body {
  font-family: 'PT Serif', Georgia, Cambria, 'Times New Roman', Times, serif;
  margin: 0 1rem;
}
a {
  line-height: 1.75em;
  color: #000;
  text-decoration: none;
}
a:visited, a:visited em {
  color: #666;
}
a:hover {
  text-decoration: underline;
}
em { color: #888; }

input {
  border: none;
  outline: none;
}
.search {

}
